In [1]:
import sqlite3
import pandas as pd

In [26]:
con = sqlite3.connect("./RAD.sqlite3")
game_xml = pd.read_sql("SELECT * FROM RAW_DATA_NBA_GAMES where DATA not in ('<h1>Developer Over Rate</h1>', '<h1>Developer Over Qps</h1>')", con=con)
con.close()

game_xml.shape

(741, 2)

In [28]:
con = sqlite3.connect("./RAD.sqlite3")
data = pd.read_sql(f"""
                SELECT DISTINCT * 
                FROM RAW_DATA_NBA_GAMES 
                WHERE DATA not in ('<h1>Developer Over Rate</h1>', '<h1>Developer Over Qps</h1>')
                """, con=con
)
con.close()

xml_data = data["DATA"].values.tolist()
xml_cont = xml_data[2].strip()

with open("./xml_play_data.xml", 'w', encoding='utf-8') as new_file:
    new_file.write(xml_cont)

In [3]:
game_xml.to_excel("xml_game_data.xlsx", index=False)

In [7]:
con = sqlite3.connect("./RAD.sqlite3")
game_schedules = pd.read_sql("""SELECT * FROM 
                             NBA_GAME_DETAILS_CUR WHERE DATE(GAME_DATE) = '2024-02-13'
                             ORDER BY GAME_DATE DESC
                             """, con=con)
con.close()

game_ids = game_schedules["GAME_ID"].to_list()

# game_ids

In [9]:
game_schedules.head(20)

,GAME_ID,HOME_TEAM,AWAY_TEAM,HOME_ALIAS,AWAY_ALIAS,GAME_DATE,VENUE_NAME,GAME_STATUS,HOME_POINTS,AWAY_POINTS
0,9f12f954-1022-4066-b51c-b9bff77a312d,LA Clippers,Minnesota Timberwolves,LAC,MIN,2024-02-13T03:30:00Z,Crypto.com Arena,scheduled,None,None
1,2a2b4da6-dccf-4304-8855-956a631bcb1b,Utah Jazz,Golden State Warriors,UTA,GSW,2024-02-13T02:00:00Z,Delta Center,scheduled,None,None
2,da378f9d-656e-4f5a-aadc-ea2aa9e7637f,Dallas Mavericks,Washington Wizards,DAL,WAS,2024-02-13T01:30:00Z,American Airlines Center,scheduled,None,None
3,4b94c315-8dd9-4c82-a7d9-e1e7aa86c8bc,Milwaukee Bucks,Denver Nuggets,MIL,DEN,2024-02-13T01:00:00Z,Fiserv Forum,scheduled,None,None
4,b5a8775d-4e3c-47b1-b165-1aaa159b2906,Memphis Grizzlies,New Orleans Pelicans,MEM,NOP,2024-02-13T01:00:00Z,FedExForum,scheduled,None,None
5,de905cb3-20ad-4ae1-9505-bc21e621f18c,Houston Rockets,New York Knicks,HOU,NYK,2024-02-13T01:00:00Z,Toyota Center,scheduled,None,None
6,7d824a3c-949a-4fc1-a8e3-79b03b9e8fda,Atlanta Hawks,Chicago Bulls,ATL,CHI,2024-02-13T00:30:00Z,State Farm Arena,scheduled,None,None
7,f8ee3dd8-349c-4f7e-b332-76c8d07d440f,Toronto Raptors,San Antonio Spurs,TOR,SAS,2024-02-13T00:30:00Z,Scotiabank Arena,scheduled,None,None
8,7d8766bd-ec14-44e7-b577-84a03c8c6b62,Charlotte Hornets,Indiana Pacers,CHA,IND,2024-02-13T00:00:00Z,Spectrum Center,scheduled,None,None
9,da341cd4-f387-471a-bc33-33b1262468dc,Cleveland Cavaliers,Philadelphia 76ers,CLE,PHI,2024-02-13T00:00:00Z,Rocket Mortgage Fieldhouse,scheduled,None,None

In [14]:
game_schedules.tail()

,GAME_ID,HOME_TEAM,AWAY_TEAM,HOME_ALIAS,AWAY_ALIAS,GAME_DATE,VENUE_NAME,GAME_STATUS,HOME_POINTS,AWAY_POINTS
23,914148aa-699c-4931-aac3-f1b7ee6c26c3,Memphis Grizzlies,Chicago Bulls,MEM,CHI,2024-02-09T01:00:00Z,FedExForum,scheduled,None,None
24,e66bbb9e-ce01-449c-bf45-46bea71fe3f1,Brooklyn Nets,Cleveland Cavaliers,BKN,CLE,2024-02-09T00:30:00Z,Barclays Center,scheduled,None,None
25,ec46ada7-401a-4256-9505-6e7c3d94d18d,New York Knicks,Dallas Mavericks,NYK,DAL,2024-02-09T00:30:00Z,Madison Square Garden,scheduled,None,None
26,1788e97c-26c5-4fa1-94c5-08f2e7cdff50,Indiana Pacers,Golden State Warriors,IND,GSW,2024-02-09T00:00:00Z,Gainbridge Fieldhouse,scheduled,None,None
27,a4bc8099-1d93-4637-a9d1-0f894fead33d,Orlando Magic,San Antonio Spurs,ORL,SAS,2024-02-09T00:00:00Z,Kia Center,scheduled,None,None

In [15]:
len_game_ids = len(game_ids)

game_ids[len_game_ids - 1]

'a4bc8099-1d93-4637-a9d1-0f894fead33d'

In [24]:
len_game_ids

249

In [2]:
# Altering Database

import psycopg2

conn = psycopg2.connect(
    dbname="RAD_DFS",
    user="postgres",
    password="Tigers11",
    host="localhost",
    port="5432"
)

# Create a cursor object
cur = conn.cursor()

# SQL statement to alter the column data type
alter_query = """ALTER TABLE public."OVERTIME_DETAILS_CURR" ALTER COLUMN inseason_tournament TYPE VARCHAR;"""

# Execute the ALTER TABLE statement
cur.execute(alter_query)

# Commit the transaction
conn.commit()

# Close the cursor and connection
cur.close()
conn.close()

UndefinedColumn: column "inseason_tournament" of relation "GAME_DETAILS_CURR" does not exist

In [4]:
# Altering Database
# last alter -- Create OVERTIME_DETAILS_CURR
# As of 2/16/24

import psycopg2

conn = psycopg2.connect(
    dbname="RAD_DFS",
    user="postgres",
    password="Tigers11",
    host="localhost",
    port="5432"
)

# Column list
col_list = ['clock', 'updated', 'wall_clock', 'sequence', 'home_points', 'away_points', 'clock_decimal'
            , 'number', 'event_type', 'turnover_type', 'attempt']

for i in range(0, len(col_list)):
    # Create a cursor object
    cur = conn.cursor()
    # SQL statement to alter the column data type
    alter_query = f"""ALTER TABLE public."OVERTIME_DETAILS_CURR" ADD COLUMN {col_list[i]} VARCHAR;"""
    # Execute the ALTER TABLE statement
    cur.execute(alter_query)
    # Commit the transaction
    conn.commit()
    # Close the cursor and connection
cur.close()
conn.close()

In [8]:
# Altering Database
# last alter -- Create OVERTIME_GAME_XREF_CURR
# As of 2/16/24

import psycopg2

conn = psycopg2.connect(
    dbname="RAD_DFS",
    user="postgres",
    password="Tigers11",
    host="localhost",
    port="5432"
)

# Column list
col_list = ['number']

for i in range(0, len(col_list)):
    # Create a cursor object
    cur = conn.cursor()
    # SQL statement to alter the column data type
    alter_query = f"""ALTER TABLE public."QUARTER_GAME_XREF_CURR" ADD COLUMN {col_list[i]} VARCHAR;"""
    # Execute the ALTER TABLE statement
    cur.execute(alter_query)
    # Commit the transaction
    conn.commit()
    # Close the cursor and connection
cur.close()
conn.close()

DuplicateColumn: column "number" of relation "QUARTER_GAME_XREF_CURR" already exists

In [9]:
# Altering Database

import psycopg2

conn = psycopg2.connect(
    dbname="RAD_DFS",
    user="postgres",
    password="Tigers11",
    host="localhost",
    port="5432"
)

# Create a cursor object
cur = conn.cursor()

# SQL statement to alter the column data type
alter_query = """ALTER TABLE public."QUARTER_GAME_XREF_CURR" ADD COLUMN id VARCHAR;"""

# Execute the ALTER TABLE statement
cur.execute(alter_query)

# Commit the transaction
conn.commit()

# Close the cursor and connection
cur.close()
conn.close()

DuplicateColumn: column "id" of relation "QUARTER_GAME_XREF_CURR" already exists

In [14]:
import psycopg2

def exec_query(query):
    conn = psycopg2.connect(
        database="RAD_DFS", user="postgres", password="Tigers11", host="localhost", port="5432"
    )
    DF = pd.read_sql(query, conn)
    return DF

nba_test = exec_query('''SELECT * FROM public."GAME_DETAILS_CURR"''')

nba_test.head()

/Users/jorge/opt/anaconda3/envs/trading/lib/python3.10/site-packages/pandas/io/sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,id,status,coverage,scheduled,duration,attendance,lead_changes,times_tied,clock,quarter,track_on_court,reference,entry_mode,sr_id,clock_decimal,home_team,away_team,inseason_tournament,title
0,0343c99e-bd5e-4887-aa21-94875b8dfba3,closed,full,2023-10-24T23:30:00+00:00,2:17,19842,1,1,00:00,4,true,0022300061,WEBSOCKET,sr:match:43065361,00:00,583ed102-fb46-11e1-82cb-f4ce4684ea4c,583ecae2-fb46-11e1-82cb-f4ce4684ea4c,None,None
1,b06ae4da-247e-4696-973a-7f1cbd813fec,closed,full,2023-10-25T02:00:00+00:00,2:33,18064,12,9,00:00,4,true,0022300062,WEBSOCKET,sr:match:43065363,00:00,583ec825-fb46-11e1-82cb-f4ce4684ea4c,583ecfa8-fb46-11e1-82cb-f4ce4684ea4c,None,None
2,2ccf34f5-0139-4b4d-b84e-810af53ea9ba,closed,full,2023-10-25T23:00:00+00:00,2:22,16129,15,10,00:00,4,true,0022300063,WEBSOCKET,sr:match:43065365,00:00,583ec97e-fb46-11e1-82cb-f4ce4684ea4c,583ecb8f-fb46-11e1-82cb-f4ce4684ea4c,None,None
3,51285ac5-dfed-411a-bd1c-508a9626d1c3,closed,full,2023-10-25T23:00:00+00:00,2:07,16004,5,3,00:00,4,true,0022300064,WEBSOCKET,sr:match:43065367,00:00,583ec7cd-fb46-11e1-82cb-f4ce4684ea4c,583ec8d4-fb46-11e1-82cb-f4ce4684ea4c,None,None
4,6731c976-ade6-4b15-8dea-d2c4ecf30bab,closed,full,2023-10-25T23:00:00+00:00,2:39,19812,4,6,00:00,4,true,0022300065,WEBSOCKET,sr:match:43065369,00:00,583ec70e-fb46-11e1-82cb-f4ce4684ea4c,583eccfa-fb46-11e1-82cb-f4ce4684ea4c,None,None

In [22]:
nba_test['date_frmt'] = pd.to_datetime(nba_test['scheduled']).dt.strftime('%Y-%m-%d')

nba_test.head()

,id,status,coverage,scheduled,duration,attendance,lead_changes,times_tied,clock,quarter,track_on_court,reference,entry_mode,sr_id,clock_decimal,home_team,away_team,inseason_tournament,title,date_frmt
0,0343c99e-bd5e-4887-aa21-94875b8dfba3,closed,full,2023-10-24T23:30:00+00:00,2:17,19842,1,1,00:00,4,true,0022300061,WEBSOCKET,sr:match:43065361,00:00,583ed102-fb46-11e1-82cb-f4ce4684ea4c,583ecae2-fb46-11e1-82cb-f4ce4684ea4c,None,None,2023-10-24
1,b06ae4da-247e-4696-973a-7f1cbd813fec,closed,full,2023-10-25T02:00:00+00:00,2:33,18064,12,9,00:00,4,true,0022300062,WEBSOCKET,sr:match:43065363,00:00,583ec825-fb46-11e1-82cb-f4ce4684ea4c,583ecfa8-fb46-11e1-82cb-f4ce4684ea4c,None,None,2023-10-25
2,2ccf34f5-0139-4b4d-b84e-810af53ea9ba,closed,full,2023-10-25T23:00:00+00:00,2:22,16129,15,10,00:00,4,true,0022300063,WEBSOCKET,sr:match:43065365,00:00,583ec97e-fb46-11e1-82cb-f4ce4684ea4c,583ecb8f-fb46-11e1-82cb-f4ce4684ea4c,None,None,2023-10-25
3,51285ac5-dfed-411a-bd1c-508a9626d1c3,closed,full,2023-10-25T23:00:00+00:00,2:07,16004,5,3,00:00,4,true,0022300064,WEBSOCKET,sr:match:43065367,00:00,583ec7cd-fb46-11e1-82cb-f4ce4684ea4c,583ec8d4-fb46-11e1-82cb-f4ce4684ea4c,None,None,2023-10-25
4,6731c976-ade6-4b15-8dea-d2c4ecf30bab,closed,full,2023-10-25T23:00:00+00:00,2:39,19812,4,6,00:00,4,true,0022300065,WEBSOCKET,sr:match:43065369,00:00,583ec70e-fb46-11e1-82cb-f4ce4684ea4c,583eccfa-fb46-11e1-82cb-f4ce4684ea4c,None,None,2023-10-25

In [23]:
feb_test = nba_test[nba_test['date_frmt']=='2024-02-05']

feb_test.head(10)

,id,status,coverage,scheduled,duration,attendance,lead_changes,times_tied,clock,quarter,track_on_court,reference,entry_mode,sr_id,clock_decimal,home_team,away_team,inseason_tournament,title,date_frmt
492,53ccfd01-23b0-47ff-b54f-cff31bd6ccce,closed,full,2024-02-05T01:30:00+00:00,2:00,19715,1,3,00:00,4,true,0022300712,WEBSOCKET,sr:match:43066669,00:00,583ed102-fb46-11e1-82cb-f4ce4684ea4c,583ed056-fb46-11e1-82cb-f4ce4684ea4c,None,None,2024-02-05
493,440d0420-270d-48e1-8392-541743a42ed7,closed,full,2024-02-05T01:00:00+00:00,2:15,18206,8,6,00:00,4,true,0022300711,WEBSOCKET,sr:match:43066667,00:00,583ece50-fb46-11e1-82cb-f4ce4684ea4c,583ecefd-fb46-11e1-82cb-f4ce4684ea4c,None,None,2024-02-05
494,6d4f7b3a-0ae3-4b22-af2f-dd04fcefcad3,closed,full,2024-02-05T00:00:00+00:00,2:33,17059,9,13,00:00,6,true,0022300710,WEBSOCKET,sr:match:43066665,00:00,583ecfff-fb46-11e1-82cb-f4ce4684ea4c,583ecda6-fb46-11e1-82cb-f4ce4684ea4c,None,None,2024-02-05
495,9b117d60-3585-4211-a2b5-4458f353ebf3,closed,full,2024-02-05T00:00:00+00:00,2:15,18024,1,3,00:00,4,true,0022300709,WEBSOCKET,sr:match:43066663,00:00,583eca2f-fb46-11e1-82cb-f4ce4684ea4c,583ecb3a-fb46-11e1-82cb-f4ce4684ea4c,None,None,2024-02-05