In [1]:
import psycopg2
import sqlite3
import pandas as pd
from sqlalchemy import create_engine
from datetime import date, datetime, timedelta
import warnings
warnings.filterwarnings('ignore')

from pandasql import sqldf
qy = lambda q: sqldf(q, globals())

today = date.today()
yesterday = datetime.now() - timedelta(1)

yesterday = datetime.strftime(yesterday, '%Y-%m-%d')

def exec_query(query):
    conn = psycopg2.connect(
        database="RAD_DFS", user="postgres", password="Tigers11", host="localhost", port="5432"
    )
    DF = pd.read_sql(query, conn)
    return DF

def connect_psql(dataframe, table_name, exists):
    conn_string = 'postgresql://postgres:Tigers11@localhost:5432/RAD_DFS'
    engine = create_engine(conn_string)

    dataframe.to_sql(table_name, con=engine, if_exists=exists, index=False)

    conn = psycopg2.connect(conn_string)
    conn.autocommit = True

In [2]:
run_date = '2024-03-06'

bet_game_df = exec_query(f'''SELECT * FROM public."BET_GAME_INFO_RAW" t1 WHERE t1.run_date in ('{run_date}')''')
bet_overview_df = exec_query(f'''SELECT * FROM public."BET_OVERVIEW_RAW" t1 WHERE t1."DATE" in ('{run_date}')''')
bet_player_df = exec_query(f'''SELECT * FROM public."BET_PLAYER_INFO_RAW" t1 WHERE t1.run_date in ('{run_date}')''')
bet_xref_df = exec_query(f'''SELECT * FROM public."BET_RAW_XREF" t1 WHERE t1.run_date in ('{run_date}')''')

final_view = qy(""" 
with q1 as (
    select t1.bet_id
        , t1.bet_title
        , t1.bet_type
        , t1.bet_line
        , t2.player_id
    from bet_overview_df t1
    left join bet_xref_df t2 on t1.bet_id = t2.bet_id
),

q2 as (
    select q1.*
    , t3.first_name || " " || t3.last_name as "player_name"
    , t3.position_id
    , t3.sport_id
    , t3.team_id
    from q1
    left join bet_player_df t3 on q1.player_id = t3.player_id
)               

SELECT q2.player_name
    , q2.bet_type
    , q2.bet_line
    , q2.sport_id
    , t4.game_title
    , t4.match_time
    , t4.home_team_name
    , t4.away_team_name
    , t4.game_date
    , t4.run_date
from q2
left join bet_game_df t4 on q2.team_id = t4.home_team_id or q2.team_id = t4.away_team_id
""")

nba_final_view = final_view[final_view['sport_id'] == 'NBA'].reset_index(drop=True)
nba_final_view = nba_final_view.drop_duplicates().reset_index(drop=True)

nba_final_view.head()

,player_name,bet_type,bet_line,sport_id,game_title,match_time,home_team_name,away_team_name,game_date,run_date
0,Paolo Banchero,1Q Points,5.5,NBA,ORL @ WAS,Wed 07:00pm,WAS,ORL,2024-03-07T00:00:00Z,2024-03-06
1,Paolo Banchero,Points,21.5,NBA,ORL @ WAS,Wed 07:00pm,WAS,ORL,2024-03-07T00:00:00Z,2024-03-06
2,Paolo Banchero,Pts + Rebs + Asts,34.5,NBA,ORL @ WAS,Wed 07:00pm,WAS,ORL,2024-03-07T00:00:00Z,2024-03-06
3,Paolo Banchero,Assists,5.5,NBA,ORL @ WAS,Wed 07:00pm,WAS,ORL,2024-03-07T00:00:00Z,2024-03-06
4,Paolo Banchero,Rebounds,7.0,NBA,ORL @ WAS,Wed 07:00pm,WAS,ORL,2024-03-07T00:00:00Z,2024-03-06

In [3]:
home_teams = nba_final_view['home_team_name'].str.strip().unique().tolist()
away_teams = nba_final_view['away_team_name'].str.strip().unique().tolist()

bet_teams = home_teams + away_teams
bet_players = nba_final_view['player_name'].unique().tolist()

In [4]:
# Run if sqlite3 db need to be updated when on the go

con = sqlite3.connect("./output/ANALYSIS.sqlite3")
nba_final_view.to_sql("NBA_BETS_CURR", con=con, if_exists='replace', index=False)

con.close()

# Table Cleaning

In [41]:
fg_df = exec_query("""SELECT * FROM public."FIELD_GOALS_CURR" t1""")
rebounds_df = exec_query("""SELECT * FROM public."REBOUNDS_CURR" t1""")
assists_df = exec_query("""SELECT * FROM public."ASSISTS_CURR" t1""")
fouler_df = exec_query("""SELECT * FROM public."FOULER_CURR" t1""")
foulee_df = exec_query("""SELECT * FROM public."FOULEE_CURR" t1""")
blocker_df = exec_query("""SELECT * FROM public."BLOCKER_CURR" t1""")
blockee_df = exec_query("""SELECT * FROM public."BLOCKEE_CURR" t1""")
steals_df = exec_query("""SELECT * FROM public."STEALS_CURR" t1""")
to_df = exec_query("""SELECT * FROM public."TURNOVERS_CURR" t1""")
home_oc_df = exec_query("""SELECT * FROM public."HOME_ON_COURT_CURR" t1""")
away_oc_df = exec_query("""SELECT * FROM public."AWAY_ON_COURT_CURR" t1""")
game_details_df = exec_query("""SELECT * FROM public."GAME_DETAILS_CURR" t1""")
quarter_detais_df = exec_query("""SELECT * FROM public."QUARTER_DETAILS_CURR" t1""")
quarter_game_xref = exec_query("""SELECT * FROM public."QUARTER_GAME_XREF_CURR" t1""")
team_game_df = exec_query("""SELECT * FROM public."TEAM_GAME_DETAILS_CURR" t1""")
event_loc_df = exec_query("""SELECT * FROM public."EVENT_LOCATIONS_CURR" t1""")
ot_game_df = exec_query("""SELECT * FROM public."OVERTIME_DETAILS_CURR" t1""")
ot_xref_df = exec_query("""SELECT * FROM public."OVERTIME_GAME_XREF_CURR" t1""")
ft_df = exec_query("""SELECT * FROM public."FREE_THROWS_CURR" t1""")

In [43]:
# Run if parquet files need to be updated

fg_df.to_parquet('./output/FG_CURR.parquet', compression='gzip') 
rebounds_df.to_parquet('./output/rebounds_df.parquet', compression='gzip') 
assists_df.to_parquet('./output/assists_df.parquet', compression='gzip') 
fouler_df.to_parquet('./output/fouler_df.parquet', compression='gzip') 
foulee_df.to_parquet('./output/foulee_df.parquet', compression='gzip') 
blocker_df.to_parquet('./output/blocker_df.parquet', compression='gzip') 
blockee_df.to_parquet('./output/blockee_df.parquet', compression='gzip') 
steals_df.to_parquet('./output/steals_df.parquet', compression='gzip') 
to_df.to_parquet('./output/to_df.parquet', compression='gzip') 
home_oc_df.to_parquet('./output/home_oc_df.parquet', compression='gzip') 
away_oc_df.to_parquet('./output/away_oc_df.parquet', compression='gzip') 
game_details_df.to_parquet('./output/game_details_df.parquet', compression='gzip') 
quarter_detais_df.to_parquet('./output/quarter_detais_df.parquet', compression='gzip') 
quarter_game_xref.to_parquet('./output/quarter_game_xref.parquet', compression='gzip') 
team_game_df.to_parquet('./output/team_game_df.parquet', compression='gzip') 
event_loc_df.to_parquet('./output/event_loc_df.parquet', compression='gzip') 
ot_game_df.to_parquet('./output/ot_game_df.parquet', compression='gzip') 
ot_xref_df.to_parquet('./output/ot_xref_df.parquet', compression='gzip') 
ft_df.to_parquet('./output/ft_curr_df.parquet', compression='gzip')

## Create Views

In [44]:
qt_gm_ids = quarter_detais_df.merge(quarter_game_xref[['id', 'game_id']], left_on='quarter_id', right_on='id', how='left').rename(columns={'id_x': 'event_id',
                                                                                                                                            'id_y': 'quarter_id2'})
qt_gm_ids['qt_type'] = 'REGULATION'
ot_qt_gm_ids = ot_game_df.merge(ot_xref_df[['id', 'game_id']], left_on='quarter_id', right_on='id', how='left').rename(columns={'id_x': 'event_id',
                                                                                                                                'id_y': 'quarter_id2'})
ot_qt_gm_ids['qt_type'] = 'OVERTIME'

qt_dtl_all = pd.concat([qt_gm_ids, ot_qt_gm_ids])
qt_dtls_clnd = qt_dtl_all[['event_id', 'clock', 'updated', 'wall_clock', 'sequence', 'home_points', 'away_points', 'clock_decimal',
                            'number', 'event_type', 'turnover_type', 'attempt', 'quarter_id', 'quarter_number', 'game_id', 'qt_type']]

game_dtl_tbl = game_details_df.rename(columns={"id": "game_id"})
qt_event_team_dt = qt_dtls_clnd.merge(game_dtl_tbl[['game_id', 'scheduled', 'inseason_tournament', 'home_team', 'away_team']], left_on='game_id', right_on='game_id', how='left')

team_gm_tbl = team_game_df.rename(columns={"id": "team_id"})
qt_event_team_dt_home = qt_event_team_dt.merge(team_gm_tbl[['game_id', 'team_id', 'alias']], left_on=['game_id', 'home_team'], right_on=['game_id', 'team_id'], how='left')
qt_event_team_dt_home = qt_event_team_dt_home.rename(columns={"alias": "home_alias"})[['event_id', 'clock', 'updated', 'wall_clock', 'sequence', 'home_points', 'away_points',
                                                                                        'clock_decimal', 'number', 'event_type', 'turnover_type', 'attempt', 'quarter_id', 'scheduled', 
                                                                                        'inseason_tournament', 'quarter_number', 'game_id', 'home_team', 'away_team', 'home_alias']]

qt_event_team_dt_final = qt_event_team_dt_home.merge(team_gm_tbl[['game_id', 'team_id', 'alias']], left_on=['game_id', 'away_team'], right_on=['game_id', 'team_id'], how='left')
qt_event_team_dt_final = qt_event_team_dt_final.rename(columns={"alias": "away_alias"})[['event_id', 'clock', 'updated', 'wall_clock', 'sequence', 'home_points', 'away_points',
                                                                                        'clock_decimal', 'number', 'event_type', 'turnover_type', 'attempt', 'quarter_id', 'scheduled', 
                                                                                        'inseason_tournament', 'quarter_number', 'game_id', 'home_team', 'away_team', 'home_alias', 'away_alias']]
qt_event_team_dt_final['game_date'] = pd.to_datetime(qt_event_team_dt_final['scheduled']).dt.date
qt_event_team_dt_final['game_title'] = qt_event_team_dt_final['game_date'].astype(str) + ' ' + qt_event_team_dt_final['away_alias'] + "@" + qt_event_team_dt_final['home_alias']

final_qt_gm_dtls = qt_event_team_dt_final.merge(event_loc_df, left_on='event_id', right_on=['event_id'], how='left')
final_qt_gm_dtls = final_qt_gm_dtls.drop_duplicates().reset_index(drop=True)

final_qt_gm_dtls.head()

,event_id,clock,updated,wall_clock,sequence,home_points,away_points,clock_decimal,number,event_type,...,game_id,home_team,away_team,home_alias,away_alias,game_date,game_title,coord_x,coord_y,action_area
0,72418a26-0b83-47e1-9ac8-72a0cc2764e4,12:00,2024-02-11T20:10:38Z,2024-02-11T20:10:37Z,1707682237593,0,0,12:00,5002,lineupchange,...,6a935bf2-2146-4d12-9c48-4f553eb8bc77,583ecfff-fb46-11e1-82cb-f4ce4684ea4c,583ed0ac-fb46-11e1-82cb-f4ce4684ea4c,OKC,SAC,2024-02-11,2024-02-11 SAC@OKC,NaN,NaN,NaN
1,e708c1fc-9402-4c27-995c-c84e57aab340,12:00,2024-02-11T20:10:38Z,2024-02-11T20:10:37Z,1707682237595,0,0,12:00,5002,lineupchange,...,6a935bf2-2146-4d12-9c48-4f553eb8bc77,583ecfff-fb46-11e1-82cb-f4ce4684ea4c,583ed0ac-fb46-11e1-82cb-f4ce4684ea4c,OKC,SAC,2024-02-11,2024-02-11 SAC@OKC,NaN,NaN,NaN
2,69e77d63-519f-4442-abae-5f6ac96068df,12:00,2024-02-11T23:14:08Z,2024-02-11T20:10:39Z,1707682239700,0,0,12:00,4,opentip,...,6a935bf2-2146-4d12-9c48-4f553eb8bc77,583ecfff-fb46-11e1-82cb-f4ce4684ea4c,583ed0ac-fb46-11e1-82cb-f4ce4684ea4c,OKC,SAC,2024-02-11,2024-02-11 SAC@OKC,NaN,NaN,NaN
3,6bc26624-c1bb-48f9-8aa1-5d1dc2ee9d03,11:42,2024-02-11T23:14:08Z,2024-02-11T20:10:54Z,1707682254400,0,0,11:42,7,twopointmiss,...,6a935bf2-2146-4d12-9c48-4f553eb8bc77,583ecfff-fb46-11e1-82cb-f4ce4684ea4c,583ed0ac-fb46-11e1-82cb-f4ce4684ea4c,OKC,SAC,2024-02-11,2024-02-11 SAC@OKC,76,313,underbasket
4,0c245b8d-0e88-4bfa-a321-f7a0fd3696f0,11:39,2024-02-11T23:14:08Z,2024-02-11T20:10:57Z,1707682256900,0,0,11:39,8,rebound,...,6a935bf2-2146-4d12-9c48-4f553eb8bc77,583ecfff-fb46-11e1-82cb-f4ce4684ea4c,583ed0ac-fb46-11e1-82cb-f4ce4684ea4c,OKC,SAC,2024-02-11,2024-02-11 SAC@OKC,76,313,underbasket

In [45]:
final_qt_gm_dtls.to_parquet('./output/final_qt_gm_dtls.parquet', compression='gzip')