In [24]:
import psycopg2
import sqlite3
import pandas as pd
from sqlalchemy import create_engine
from datetime import date, datetime, timedelta
import warnings
warnings.filterwarnings('ignore')

from pandasql import sqldf
qy = lambda q: sqldf(q, globals())

today = date.today()
yesterday = datetime.now() - timedelta(1)

yesterday = datetime.strftime(yesterday, '%Y-%m-%d')

def exec_query(query):
    conn = psycopg2.connect(
        database="RAD_DFS", user="postgres", password="Tigers11", host="localhost", port="5432"
    )
    DF = pd.read_sql(query, conn)
    return DF

def connect_psql(dataframe, table_name, exists):
    conn_string = 'postgresql://postgres:Tigers11@localhost:5432/RAD_DFS'
    engine = create_engine(conn_string)

    dataframe.to_sql(table_name, con=engine, if_exists=exists, index=False)

    conn = psycopg2.connect(conn_string)
    conn.autocommit = True

In [105]:
run_date = '2024-02-14'

bet_game_df = exec_query(f'''SELECT * FROM public."BET_GAME_INFO_RAW" t1 WHERE t1.run_date in ('{run_date}')''')
bet_overview_df = exec_query(f'''SELECT * FROM public."BET_OVERVIEW_RAW" t1 WHERE t1."DATE" in ('{run_date}')''')
bet_player_df = exec_query(f'''SELECT * FROM public."BET_PLAYER_INFO_RAW" t1 WHERE t1.run_date in ('{run_date}')''')
bet_xref_df = exec_query(f'''SELECT * FROM public."BET_RAW_XREF" t1 WHERE t1.run_date in ('{run_date}')''')

final_view = qy(""" 
with q1 as (
    select t1.bet_id
        , t1.bet_title
        , t1.bet_type
        , t1.bet_line
        , t2.player_id
    from bet_overview_df t1
    left join bet_xref_df t2 on t1.bet_id = t2.bet_id
),

q2 as (
    select q1.*
    , t3.first_name || " " || t3.last_name as "player_name"
    , t3.position_id
    , t3.sport_id
    , t3.team_id
    from q1
    left join bet_player_df t3 on q1.player_id = t3.player_id
)               

SELECT q2.player_name
    , q2.bet_type
    , q2.bet_line
    , q2.sport_id
    , t4.game_title
    , t4.match_time
    , t4.home_team_name
    , t4.away_team_name
    , t4.game_date
    , t4.run_date
from q2
left join bet_game_df t4 on q2.team_id = t4.home_team_id or q2.team_id = t4.away_team_id
""")

nba_final_view = final_view[final_view['sport_id'] == 'NBA'].reset_index(drop=True)
nba_final_view = nba_final_view.drop_duplicates().reset_index(drop=True)

nba_final_view.head()

,player_name,bet_type,bet_line,sport_id,game_title,match_time,home_team_name,away_team_name,game_date,run_date
0,Jalen Brunson,1Q Points,7.5,NBA,NYK @ ORL,Wed 07:00pm,ORL,NYK,2024-02-15T00:00:00Z,2024-02-14
1,Jalen Brunson,Points,28.5,NBA,NYK @ ORL,Wed 07:00pm,ORL,NYK,2024-02-15T00:00:00Z,2024-02-14
2,Jalen Brunson,Pts + Rebs + Asts,38.5,NBA,NYK @ ORL,Wed 07:00pm,ORL,NYK,2024-02-15T00:00:00Z,2024-02-14
3,Jalen Brunson,Assists,6.5,NBA,NYK @ ORL,Wed 07:00pm,ORL,NYK,2024-02-15T00:00:00Z,2024-02-14
4,Jalen Brunson,Rebounds,3.5,NBA,NYK @ ORL,Wed 07:00pm,ORL,NYK,2024-02-15T00:00:00Z,2024-02-14

In [106]:
home_teams = nba_final_view['home_team_name'].str.strip().unique().tolist()
away_teams = nba_final_view['away_team_name'].str.strip().unique().tolist()

bet_teams = home_teams + away_teams

bet_teams

['ORL',
 'PHI',
 'CHA',
 'BOS',
 'CLE',
 'TOR',
 'NOP',
 'MEM',
 'DAL',
 'UTA',
 'GSW',
 'NYK',
 'MIA',
 'ATL',
 'BKN',
 'CHI',
 'IND',
 'WAS',
 'HOU',
 'SAS',
 'LAL',
 'LAC']

In [107]:
bet_players = nba_final_view['player_name'].unique().tolist()

In [108]:
con = sqlite3.connect("./output/ANALYSIS.sqlite3")

nba_final_view.to_sql("NBA_BETS_CURR", con=con, if_exists='replace', index=False)

con.close()

# Table Cleaning

In [109]:
fg_df = exec_query("""SELECT * FROM public."FIELD_GOALS_CURR" t1""")
rebounds_df = exec_query("""SELECT * FROM public."REBOUNDS_CURR" t1""")
assists_df = exec_query("""SELECT * FROM public."ASSISTS_CURR" t1""")
fouler_df = exec_query("""SELECT * FROM public."FOULER_CURR" t1""")
foulee_df = exec_query("""SELECT * FROM public."FOULEE_CURR" t1""")
blocker_df = exec_query("""SELECT * FROM public."BLOCKER_CURR" t1""")
blockee_df = exec_query("""SELECT * FROM public."BLOCKEE_CURR" t1""")
steals_df = exec_query("""SELECT * FROM public."STEALS_CURR" t1""")
to_df = exec_query("""SELECT * FROM public."TURNOVERS_CURR" t1""")
home_oc_df = exec_query("""SELECT * FROM public."HOME_ON_COURT_CURR" t1""")
away_oc_df = exec_query("""SELECT * FROM public."AWAY_ON_COURT_CURR" t1""")
game_details_df = exec_query("""SELECT * FROM public."GAME_DETAILS_CURR" t1""")
quarter_detais_df = exec_query("""SELECT * FROM public."QUARTER_DETAILS_CURR" t1""")
quarter_game_xref = exec_query("""SELECT * FROM public."QUARTER_GAME_XREF_CURR" t1""")
team_game_df = exec_query("""SELECT * FROM public."TEAM_GAME_DETAILS_CURR" t1""")
event_loc_df = exec_query("""SELECT * FROM public."EVENT_LOCATIONS_CURR" t1""")

In [ ]:
fg_df = exec_query("""SELECT * FROM public."FIELD_GOALS_CURR" t1""")
rebounds_df = exec_query("""SELECT * FROM public."REBOUNDS_CURR" t1""")
assists_df = exec_query("""SELECT * FROM public."ASSISTS_CURR" t1""")
fouler_df = exec_query("""SELECT * FROM public."FOULER_CURR" t1""")
foulee_df = exec_query("""SELECT * FROM public."FOULEE_CURR" t1""")
blocker_df = exec_query("""SELECT * FROM public."BLOCKER_CURR" t1""")
blockee_df = exec_query("""SELECT * FROM public."BLOCKEE_CURR" t1""")
steals_df = exec_query("""SELECT * FROM public."STEALS_CURR" t1""")
to_df = exec_query("""SELECT * FROM public."TURNOVERS_CURR" t1""")
home_oc_df = exec_query("""SELECT * FROM public."HOME_ON_COURT_CURR" t1""")
away_oc_df = exec_query("""SELECT * FROM public."AWAY_ON_COURT_CURR" t1""")
game_details_df = exec_query("""SELECT * FROM public."GAME_DETAILS_CURR" t1""")
quarter_detais_df = exec_query("""SELECT * FROM public."QUARTER_DETAILS_CURR" t1""")
quarter_game_xref = exec_query("""SELECT * FROM public."QUARTER_GAME_XREF_CURR" t1""")
team_game_df = exec_query("""SELECT * FROM public."TEAM_GAME_DETAILS_CURR" t1""")
event_loc_df = exec_query("""SELECT * FROM public."EVENT_LOCATIONS_CURR" t1""")

In [ ]:
fg_df.head()

In [113]:

fg_df.to_parquet('./output/FG_CURR.parquet', compression='gzip') 
rebounds_df.to_parquet('./output/rebounds_df.parquet', compression='gzip') 
assists_df.to_parquet('./output/assists_df.parquet', compression='gzip') 
fouler_df.to_parquet('./output/fouler_df.parquet', compression='gzip') 
foulee_df.to_parquet('./output/foulee_df.parquet', compression='gzip') 
blocker_df.to_parquet('./output/blocker_df.parquet', compression='gzip') 
blockee_df.to_parquet('./output/blockee_df.parquet', compression='gzip') 
steals_df.to_parquet('./output/steals_df.parquet', compression='gzip') 
to_df.to_parquet('./output/to_df.parquet', compression='gzip') 
home_oc_df.to_parquet('./output/home_oc_df.parquet', compression='gzip') 
away_oc_df.to_parquet('./output/away_oc_df.parquet', compression='gzip') 
game_details_df.to_parquet('./output/game_details_df.parquet', compression='gzip') 
quarter_detais_df.to_parquet('./output/quarter_detais_df.parquet', compression='gzip') 
quarter_game_xref.to_parquet('./output/quarter_game_xref.parquet', compression='gzip') 
team_game_df.to_parquet('./output/team_game_df.parquet', compression='gzip') 
event_loc_df.to_parquet('./output/event_loc_df.parquet', compression='gzip')

In [92]:
quarter_game_xref.head()

,id,number,sequence,game_id
0,9210885a-0d22-4277-9d7d-0bd1be5fa172,1,1,6a935bf2-2146-4d12-9c48-4f553eb8bc77
1,4f584b7e-bda6-451b-9139-be501ddf7b7a,2,2,6a935bf2-2146-4d12-9c48-4f553eb8bc77
2,a78b76ec-0d6e-4d05-b5ce-b8fc7f99bce9,3,3,6a935bf2-2146-4d12-9c48-4f553eb8bc77
3,941b7cfb-d738-44df-b1a8-b07e2043bfa6,4,4,6a935bf2-2146-4d12-9c48-4f553eb8bc77
4,1a98e11e-d0a8-4b42-8293-e624df99c264,1,1,10dee9b6-c101-4bba-82af-f43f3dcfff30

In [77]:
quarter_detais_df.head()

,id,clock,updated,wall_clock,sequence,home_points,away_points,clock_decimal,number,event_type,turnover_type,attempt,quarter_id,quarter_number
0,72418a26-0b83-47e1-9ac8-72a0cc2764e4,12:00,2024-02-11T20:10:38Z,2024-02-11T20:10:37Z,1707682237593,0,0,12:00,5002,lineupchange,None,None,9210885a-0d22-4277-9d7d-0bd1be5fa172,1
1,e708c1fc-9402-4c27-995c-c84e57aab340,12:00,2024-02-11T20:10:38Z,2024-02-11T20:10:37Z,1707682237595,0,0,12:00,5002,lineupchange,None,None,9210885a-0d22-4277-9d7d-0bd1be5fa172,1
2,69e77d63-519f-4442-abae-5f6ac96068df,12:00,2024-02-11T23:14:08Z,2024-02-11T20:10:39Z,1707682239700,0,0,12:00,4,opentip,None,None,9210885a-0d22-4277-9d7d-0bd1be5fa172,1
3,6bc26624-c1bb-48f9-8aa1-5d1dc2ee9d03,11:42,2024-02-11T23:14:08Z,2024-02-11T20:10:54Z,1707682254400,0,0,11:42,7,twopointmiss,None,None,9210885a-0d22-4277-9d7d-0bd1be5fa172,1
4,0c245b8d-0e88-4bfa-a321-f7a0fd3696f0,11:39,2024-02-11T23:14:08Z,2024-02-11T20:10:57Z,1707682256900,0,0,11:39,8,rebound,None,None,9210885a-0d22-4277-9d7d-0bd1be5fa172,1

In [81]:
game_details_df.head()

,id,status,coverage,scheduled,duration,attendance,lead_changes,times_tied,clock,quarter,track_on_court,reference,entry_mode,sr_id,clock_decimal,home_team,away_team,inseason_tournament,title
0,6a935bf2-2146-4d12-9c48-4f553eb8bc77,closed,full,2024-02-11T20:00:00+00:00,2:12,17092,5,4,00:00,4,true,0022300760,WEBSOCKET,sr:match:43066765,00:00,583ecfff-fb46-11e1-82cb-f4ce4684ea4c,583ed0ac-fb46-11e1-82cb-f4ce4684ea4c,None,None
1,10dee9b6-c101-4bba-82af-f43f3dcfff30,closed,full,2024-02-11T19:00:00+00:00,2:21,20049,12,2,00:00,4,true,0022300759,WEBSOCKET,sr:match:43066763,00:00,583ecea6-fb46-11e1-82cb-f4ce4684ea4c,583eccfa-fb46-11e1-82cb-f4ce4684ea4c,None,None
2,0dee9114-514d-4cc3-9eaa-a4795a70b9a2,closed,full,2024-02-11T03:00:00+00:00,2:02,18226,8,5,00:00,4,true,0022300758,WEBSOCKET,sr:match:43066761,00:00,583ed056-fb46-11e1-82cb-f4ce4684ea4c,583ecc9a-fb46-11e1-82cb-f4ce4684ea4c,None,None
3,bd4b0911-2515-4e54-92d5-642470081670,closed,full,2024-02-11T01:30:00+00:00,2:25,18064,22,16,00:00,4,true,0022300757,WEBSOCKET,sr:match:43066759,00:00,583ec825-fb46-11e1-82cb-f4ce4684ea4c,583ecfa8-fb46-11e1-82cb-f4ce4684ea4c,None,None
4,19e871c1-ed26-406b-94e9-384c76bccb16,closed,full,2024-02-11T00:30:00+00:00,2:19,17503,6,3,00:00,4,true,0022300754,WEBSOCKET,sr:match:43066753,00:00,583ecb8f-fb46-11e1-82cb-f4ce4684ea4c,583ecb3a-fb46-11e1-82cb-f4ce4684ea4c,None,None

In [91]:
filter_fg = fg_df[fg_df['player_name'].isin(bet_players)].reset_index(drop=True)
filter_rebounds = rebounds_df[rebounds_df['player_name'].isin(bet_players)].reset_index(drop=True)
filter_assists = assists_df[assists_df['player_name'].isin(bet_players)].reset_index(drop=True)
filter_fouler = fouler_df[fouler_df['player_name'].isin(bet_players)].reset_index(drop=True)
filter_foulee = foulee_df[foulee_df['player_name'].isin(bet_players)].reset_index(drop=True)
filter_blocker = blocker_df[blocker_df['player_name'].isin(bet_players)].reset_index(drop=True)
filter_blockee = blockee_df[blockee_df['player_name'].isin(bet_players)].reset_index(drop=True)
filter_steals = steals_df[steals_df['player_name'].isin(bet_players)].reset_index(drop=True)
filter_home_oc = home_oc_df[home_oc_df['player_name'].isin(bet_players)].reset_index(drop=True)
filter_away_oc = away_oc_df[away_oc_df['player_name'].isin(bet_players)].reset_index(drop=True)

filter_teams = team_game_df[team_game_df['alias'].isin(bet_teams)].reset_index(drop=True)

In [93]:
filter_teams.head()

,name,alias,market,id,points,bonus,sr_id,remaining_timeouts,reference,home_ind,wins,losses,game_id
0,Thunder,OKC,Oklahoma City,583ecfff-fb46-11e1-82cb-f4ce4684ea4c,127,true,sr:team:3418,2,1610612760,1,36,17,6a935bf2-2146-4d12-9c48-4f553eb8bc77
1,Kings,SAC,Sacramento,583ed0ac-fb46-11e1-82cb-f4ce4684ea4c,113,true,sr:team:3413,1,1610612758,0,30,22,6a935bf2-2146-4d12-9c48-4f553eb8bc77
2,Heat,MIA,Miami,583ecea6-fb46-11e1-82cb-f4ce4684ea4c,106,true,sr:team:3435,1,1610612748,1,28,25,10dee9b6-c101-4bba-82af-f43f3dcfff30
3,Celtics,BOS,Boston,583eccfa-fb46-11e1-82cb-f4ce4684ea4c,110,true,sr:team:3422,0,1610612738,0,41,12,10dee9b6-c101-4bba-82af-f43f3dcfff30
4,Trail Blazers,POR,Portland,583ed056-fb46-11e1-82cb-f4ce4684ea4c,84,false,sr:team:3414,2,1610612757,1,15,37,0dee9114-514d-4cc3-9eaa-a4795a70b9a2

In [78]:
filter_fg.head()

,made,shot_type,shot_type_desc,shot_distance,points,three_point_shot,player_id,player_name,event_id
0,false,layup,cutting,1.53,None,None,22038780-8c50-4211-a99e-656d983e5207,Domantas Sabonis,6bc26624-c1bb-48f9-8aa1-5d1dc2ee9d03
1,true,layup,tip,0.0,2,None,22038780-8c50-4211-a99e-656d983e5207,Domantas Sabonis,f078100f-e359-4384-9f22-ae253cc9024d
2,false,layup,cutting,1.84,None,None,66ea876a-1cc9-47ed-ae31-2ed3c8f9350e,Josh Giddey,091f5622-cd8a-4e19-b0e8-468ef1edac9b
3,false,jump shot,None,25.87,None,true,cfc1e41b-74ab-45ee-8132-aaf9ca7f8163,De'Aaron Fox,51a4583b-8cf7-4602-964e-f884def05542
4,true,jump shot,pullup,17.91,2,None,7494fbb4-5ac7-43ee-b91a-8859532f548b,Keegan Murray,3296ca70-9738-436d-afc2-e60b597241aa

## Aggregate Summary Views

In [70]:
fg_summary = qy("""
with q1 as (
    select t1.player_name
    , case when t1."made" = 'true' then 1 else 0 end as "fg_made"
    , 1 as "fg_att"
    , case when t1."made" = 'true' and t1."three_point_shot" = 'true' then 1 else 0 end as "three_pt_made"              
    , case when t1."three_point_shot" = 'true' then 1 else 0 end as "three_pt_att"      
    from filter_fg t1
)

select q1.player_name
, sum(q1.fg_made) as fg_made
, sum(q1.fg_att) as fg_att
, sum(q1.three_pt_made) as three_pt_made
, sum(q1.three_pt_att) as three_pt_att
from q1
group by q1.player_name
""")

fg_summary.head(10)

         player_name  fg_made  fg_att  three_pt_made  three_pt_att
0    Anfernee Simons      235     532             99           255
1      Anthony Davis      474     855             17            61
2    Anthony Edwards      445     957            127           332
3     Ausar Thompson      181     380             12            82
4      Austin Reaves      294     603             92           256
5        Bam Adebayo      327     647              1            11
6        Ben Simmons       37      59              0             0
7       Bradley Beal      212     430             48           134
8        Brook Lopez      252     515             91           260
9    Cade Cunningham      352     783             75           221
10      Caleb Martin      143     314             42           114
11        Cam Thomas      331     750             86           238
12     Chet Holmgren      336     627             89           226
13  D'Angelo Russell      314     675            132           316
14    Damian Lillard      363     852            143           414
15      De'Aaron Fox      435     936            134           356
16     Deandre Ayton      225     406              0             0
17     Derrick White      260     570            128           327
18      Devin Booker      423     842             98           257
19  Domantas Sabonis      416     668             26            59

In [71]:
reb_summary = qy("""
with q1 as (
    select t1.player_name
    , case when t1."rebound_type" = 'defensive' then 1 else 0 end as "defensive_rebound"
    , case when t1."rebound_type" = 'offensive' then 1 else 0 end as "offensive_rebound"    
    from filter_rebounds t1
)

select q1.player_name
, sum(q1.defensive_rebound) as defensive_rebound
, sum(q1.offensive_rebound) as offensive_rebound
, (sum(q1.offensive_rebound) + sum(q1.defensive_rebound)) as total_rebound
from q1
group by q1.player_name
""")

reb_summary.head(10)

       player_name  defensive_rebound  offensive_rebound  total_rebound
0  Anfernee Simons                 87                 15            102
1    Anthony Davis                451                152            603
2  Anthony Edwards                233                 29            262
3   Ausar Thompson                228                113            341
4    Austin Reaves                172                 38            210
5      Bam Adebayo                359                 95            454
6      Ben Simmons                 69                 26             95
7     Bradley Beal                102                 25            127
8      Brook Lopez                201                 80            281
9  Cade Cunningham                152                 16            168

In [76]:
assist_summary = qy("""
select q1.player_name
    , sum(q1.assist_ind) as assists
from filter_assists q1
group by q1.player_name
""")

assist_summary.head(10)

       player_name  assists
0  Anfernee Simons      153
1    Anthony Davis      195
2  Anthony Edwards      264
3   Ausar Thompson       99
4    Austin Reaves      291
5      Bam Adebayo      173
6      Ben Simmons       70
7     Bradley Beal      135
8      Brook Lopez       85
9  Cade Cunningham      313

In [75]:
steals_summary = qy("""
select q1.player_name
    , sum(q1.steal_ind) as steals
from filter_steals q1
group by q1.player_name
""")

steals_summary.head(10)

       player_name  steals
0  Anfernee Simons      14
1    Anthony Davis      58
2  Anthony Edwards      59
3   Ausar Thompson      50
4    Austin Reaves      48
5      Bam Adebayo      44
6      Ben Simmons       9
7     Bradley Beal      27
8      Brook Lopez      31
9  Cade Cunningham      40

## Game Breakdown

In [98]:
game_details_teams = game_details_df.merge(filter_teams[['id', 'alias']], left_on='home_team', right_on='id', how='left')
game_details_teams_home = game_details_teams.rename(columns={"id_x": "game_id", "id_y": "home_team_id", "alias": "home_alias"})
game_details_teams = game_details_teams_home.merge(filter_teams[['id', 'alias']], left_on='away_team', right_on='id', how='left')
# game_details_teams = game_details_teams.rename(columns={"id_x": "game_id", "id_y": "home_team_id", "alias": "home_alias"})

game_details_teams.head()

,game_id,status,coverage,scheduled,duration,attendance,lead_changes,times_tied,clock,quarter,...,sr_id,clock_decimal,home_team,away_team,inseason_tournament,title,home_team_id,home_alias,id,alias
0,6a935bf2-2146-4d12-9c48-4f553eb8bc77,closed,full,2024-02-11T20:00:00+00:00,2:12,17092,5,4,00:00,4,...,sr:match:43066765,00:00,583ecfff-fb46-11e1-82cb-f4ce4684ea4c,583ed0ac-fb46-11e1-82cb-f4ce4684ea4c,None,None,583ecfff-fb46-11e1-82cb-f4ce4684ea4c,OKC,583ed0ac-fb46-11e1-82cb-f4ce4684ea4c,SAC
1,6a935bf2-2146-4d12-9c48-4f553eb8bc77,closed,full,2024-02-11T20:00:00+00:00,2:12,17092,5,4,00:00,4,...,sr:match:43066765,00:00,583ecfff-fb46-11e1-82cb-f4ce4684ea4c,583ed0ac-fb46-11e1-82cb-f4ce4684ea4c,None,None,583ecfff-fb46-11e1-82cb-f4ce4684ea4c,OKC,583ed0ac-fb46-11e1-82cb-f4ce4684ea4c,SAC
2,6a935bf2-2146-4d12-9c48-4f553eb8bc77,closed,full,2024-02-11T20:00:00+00:00,2:12,17092,5,4,00:00,4,...,sr:match:43066765,00:00,583ecfff-fb46-11e1-82cb-f4ce4684ea4c,583ed0ac-fb46-11e1-82cb-f4ce4684ea4c,None,None,583ecfff-fb46-11e1-82cb-f4ce4684ea4c,OKC,583ed0ac-fb46-11e1-82cb-f4ce4684ea4c,SAC
3,6a935bf2-2146-4d12-9c48-4f553eb8bc77,closed,full,2024-02-11T20:00:00+00:00,2:12,17092,5,4,00:00,4,...,sr:match:43066765,00:00,583ecfff-fb46-11e1-82cb-f4ce4684ea4c,583ed0ac-fb46-11e1-82cb-f4ce4684ea4c,None,None,583ecfff-fb46-11e1-82cb-f4ce4684ea4c,OKC,583ed0ac-fb46-11e1-82cb-f4ce4684ea4c,SAC
4,6a935bf2-2146-4d12-9c48-4f553eb8bc77,closed,full,2024-02-11T20:00:00+00:00,2:12,17092,5,4,00:00,4,...,sr:match:43066765,00:00,583ecfff-fb46-11e1-82cb-f4ce4684ea4c,583ed0ac-fb46-11e1-82cb-f4ce4684ea4c,None,None,583ecfff-fb46-11e1-82cb-f4ce4684ea4c,OKC,583ed0ac-fb46-11e1-82cb-f4ce4684ea4c,SAC

In [104]:
gd_teams = game_details_df[['id', 'scheduled', 'home_team', 'away_team']]
gd_home = gd_teams.merge(filter_teams[['id', 'alias']], left_on='home_team', right_on='id', how='inner')
gd_home = gd_home.rename(columns={"id_x": "game_id", "id_y": "home_team_id", "alias": "home_alias"}).drop_duplicates()

gd_final = gd_home.merge(filter_teams[['id', 'alias']], left_on='away_team', right_on='id', how='inner')
gd_final = gd_final.rename(columns={"id": "away_id", "alias": "away_alias"}).drop_duplicates()

gd_final.head()

,game_id,scheduled,home_team,away_team,home_team_id,home_alias,away_id,away_alias
0,6a935bf2-2146-4d12-9c48-4f553eb8bc77,2024-02-11T20:00:00+00:00,583ecfff-fb46-11e1-82cb-f4ce4684ea4c,583ed0ac-fb46-11e1-82cb-f4ce4684ea4c,583ecfff-fb46-11e1-82cb-f4ce4684ea4c,OKC,583ed0ac-fb46-11e1-82cb-f4ce4684ea4c,SAC
52,18c9a074-0af7-445d-9913-6fb530b3a776,2024-02-01T00:30:00+00:00,583ecea6-fb46-11e1-82cb-f4ce4684ea4c,583ed0ac-fb46-11e1-82cb-f4ce4684ea4c,583ecea6-fb46-11e1-82cb-f4ce4684ea4c,MIA,583ed0ac-fb46-11e1-82cb-f4ce4684ea4c,SAC
104,d6254493-32d7-4663-9ba0-a354605f175a,2023-12-27T03:00:00+00:00,583ed056-fb46-11e1-82cb-f4ce4684ea4c,583ed0ac-fb46-11e1-82cb-f4ce4684ea4c,583ed056-fb46-11e1-82cb-f4ce4684ea4c,POR,583ed0ac-fb46-11e1-82cb-f4ce4684ea4c,SAC
156,2d1466ef-6207-493f-8a4b-31266e54edb6,2023-11-16T03:00:00+00:00,583ecae2-fb46-11e1-82cb-f4ce4684ea4c,583ed0ac-fb46-11e1-82cb-f4ce4684ea4c,583ecae2-fb46-11e1-82cb-f4ce4684ea4c,LAL,583ed0ac-fb46-11e1-82cb-f4ce4684ea4c,SAC
208,1a1ff57e-b482-4253-ba48-09125bd532e4,2024-01-15T00:00:00+00:00,583ecefd-fb46-11e1-82cb-f4ce4684ea4c,583ed0ac-fb46-11e1-82cb-f4ce4684ea4c,583ecefd-fb46-11e1-82cb-f4ce4684ea4c,MIL,583ed0ac-fb46-11e1-82cb-f4ce4684ea4c,SAC

# Averages

In [ ]:
quarter_game_xref

In [ ]:
def calculate_moving_average(data, window_size=3):
    df = pd.DataFrame(data, columns=['Actual'])
    moving_average = df['Actual'].rolling(window=window_size).mean()
    return moving_average

data_points = all_time_pass["yards"].values.tolist()
# text_points = bryce_pass_yards_curr["game_date"].values.tolist()

# Calculate 3-day simple moving average
moving_avg_3_days = calculate_moving_average(data_points, window_size=3)

moving_avg_10_days = calculate_moving_average(data_points, window_size=10)