In [7]:
import psycopg2
import sqlite3
import pandas as pd
from sqlalchemy import create_engine
from datetime import date, datetime, timedelta
import warnings
warnings.filterwarnings('ignore')

# PHX vs CHI Id => f5efe9ba-84aa-465f-9409-21a3225cbf85

conn = psycopg2.connect(
    database="RAD_DFS", user="postgres", password="Tigers11", host="localhost", port="5432"
)

id_df = pd.read_sql("""SELECT * FROM 
                    public."NBA_API_RAW_DATA" t1 WHERE t1."DATA" 
                    not in ('<h1>Developer Over Rate</h1>', '<h1>Developer Over Qps</h1>')""", conn)

conn.close()

In [18]:
import xml.etree.ElementTree as ET

# PHX vs CHI Id => f5efe9ba-84aa-465f-9409-21a3225cbf85

xml_data = id_df["DATA"].values.tolist()
xml_cont = xml_data[679].strip()

with open("./xml_ot_fix.xml", 'w', encoding='utf-8') as new_file:
    new_file.write(xml_cont)

xml_file = "./xml_ot_fix.xml"
tree = ET.parse(xml_file)
root = tree.getroot()
root.attrib

{'id': 'f5efe9ba-84aa-465f-9409-21a3225cbf85',
 'status': 'closed',
 'coverage': 'full',
 'scheduled': '2023-11-09T01:00:00+00:00',
 'duration': '2:36',
 'attendance': '18220',
 'lead_changes': '10',
 'times_tied': '5',
 'clock': '00:00',
 'quarter': '5',
 'track_on_court': 'true',
 'reference': '0022300162',
 'entry_mode': 'WEBSOCKET',
 'sr_id': 'sr:match:43065563',
 'clock_decimal': '00:00',
 'home_team': '583ec5fd-fb46-11e1-82cb-f4ce4684ea4c',
 'away_team': '583ecfa8-fb46-11e1-82cb-f4ce4684ea4c'}

## Running Overtime tables below

In [ ]:
import pandas as pd
import xml.etree.ElementTree as ET
import psycopg2
from sqlalchemy import create_engine
import numpy as np
import warnings
warnings.filterwarnings('ignore')

xml_file = "./xml_data_output.xml"
tree = ET.parse(xml_file)
root = tree.getroot()

def exec_query(index):
    conn = psycopg2.connect(
        database="RAD_DFS", user="postgres", password="Tigers11", host="localhost", port="5432"
    )
    id_df = pd.read_sql("""SELECT * FROM public."NBA_API_RAW_DATA" t1 WHERE t1."DATA" not in ('<h1>Developer Over Rate</h1>', '<h1>Developer Over Qps</h1>')""", conn)
    
    conn.close()

    xml_data = id_df["DATA"].values.tolist()
    xml_cont = xml_data[index].strip()

    with open("./xml_play_data.xml", 'w', encoding='utf-8') as new_file:
        new_file.write(xml_cont)

def remove_namespace(tree):
    for elem in tree.iter(): 
        if '}' in elem.tag:
            elem.tag = elem.tag.split('}', 1)[1]

def get_quarter_id():
    xml_file = "./xml_data_output.xml"
    tree = ET.parse(xml_file)
    root = tree.getroot()

    quarter_ids = []
    quarter_nums = []

    for play_element in root.iter('overtime'):
        for child in play_element.findall(".//event"):
            if child is not None and 'nullified' not in child.attrib:
                attributes_child = child.attrib
                if attributes_child:
                    id_name = play_element.get('id')
                    quarter_num = play_element.get('number')
                    quarter_ids.append(id_name)
                    quarter_nums.append(quarter_num)

    return quarter_ids, quarter_nums

def get_quarter_att():
    xml_file = "./xml_data_output.xml"
    tree = ET.parse(xml_file)
    root = tree.getroot()

    quarter_atts = []

    for play_element in root.iter('overtime'):
        for child in play_element.findall(".//event"):
            if child is not None and 'nullified' not in child.attrib:
                attributes_child = child.attrib
                if attributes_child:
                    quarter_atts.append(attributes_child)

    
    qt_data_df = pd.DataFrame(quarter_atts)

    return qt_data_df

def connect_psql(dataframe, table_name, exists):
    conn_string = 'postgresql://postgres:Tigers11@localhost:5432/RAD_DFS'
    engine = create_engine(conn_string)

    dataframe.to_sql(table_name, con=engine, if_exists=exists, index=False)

    conn = psycopg2.connect(conn_string)
    conn.autocommit = True
    conn.close()


dfs = []
xref_dfs = []

for i in range(0, 804):
# for i in range(0, 798):
    exec_query(i)
    tree = ET.parse('./xml_play_data.xml')
    remove_namespace(tree)
    tree.write('./xml_data_output.xml')
    xml_file = "./xml_data_output.xml"
    tree = ET.parse(xml_file)
    root = tree.getroot()

    # Quarter Data
    final_qids, final_qum = get_quarter_id()
    quarter_df = get_quarter_att()

    quarter_df["quarter_id"] = final_qids
    quarter_df["quarter_number"] = final_qum

    # Quarter - Game XREF
    game_ids_quarter_xref = []
    quarter_xref = []

    for play_element in root.iter('game'):
        for child in play_element.findall(".//overtime"):
            if child is not None and 'nullified' not in child.attrib:
                attributes_child = child.attrib
                if attributes_child:
                    quarter_xref.append(attributes_child)

    quarter_xref_df = pd.DataFrame(quarter_xref)

    for play_element in root.iter('game'):
        for child in play_element.findall(".//overtime"):
            if child is not None and 'nullified' not in child.attrib:
                attributes_child = child.attrib
                if attributes_child:
                    id_name = play_element.get('id')
                    game_ids_quarter_xref.append(id_name)

    quarter_xref_df['game_id'] = game_ids_quarter_xref

    dfs.append(quarter_df)
    xref_dfs.append(quarter_xref_df)

    # Dataframes to pg DB
    # connect_psql(quarter_df, "OVERTIME_DETAILS_CURR", 'append')
    # connect_psql(quarter_xref_df, "OVERTIME_GAME_XREF_CURR", 'append')

    print(i)
    print("-----")

In [24]:
ot_results = pd.concat(dfs)

ot_results.head()

,quarter_id,quarter_number,id,clock,updated,wall_clock,sequence,home_points,away_points,clock_decimal,number,event_type,turnover_type,attempt
0,4da46127-db37-4151-bbc9-53c7b45f4c48,1,2972cf2b-69cc-471f-8a36-99599aab64a5,5:00,2024-02-11T02:35:04Z,2024-02-11T02:20:38Z,1707618038300,101,101,5:00,611,opentip,NaN,NaN
1,4da46127-db37-4151-bbc9-53c7b45f4c48,1,ec5ea3ad-c045-4474-851f-6fbaec68a702,4:43,2024-02-11T02:35:04Z,2024-02-11T02:20:51Z,1707618051700,101,101,4:43,614,twopointmiss,NaN,NaN
2,4da46127-db37-4151-bbc9-53c7b45f4c48,1,2d7c9032-a722-4418-8709-6120d46b16b9,4:41,2024-02-11T02:35:04Z,2024-02-11T02:20:53Z,1707618054500,101,101,4:41,615,rebound,NaN,NaN
3,4da46127-db37-4151-bbc9-53c7b45f4c48,1,af03f436-f9fc-4632-99ea-8e08e6e5e420,4:41,2024-02-11T02:35:04Z,2024-02-11T02:20:54Z,1707618054500,101,101,4:41,616,twopointmiss,NaN,NaN
4,4da46127-db37-4151-bbc9-53c7b45f4c48,1,294efbbd-951a-4f6b-b219-f2ee344d4e8d,4:39,2024-02-11T02:35:04Z,2024-02-11T02:20:56Z,1707618056600,101,101,4:39,617,rebound,NaN,NaN

In [25]:
ot_xref_results = pd.concat(xref_dfs)

ot_xref_results.head()

,game_id,id,number,sequence
0,a2c5c37e-7b4d-4b18-9025-0bc259b8622b,4da46127-db37-4151-bbc9-53c7b45f4c48,1,5
0,24e3861b-e61f-47c0-9da5-f6ed60152143,c242d5b3-4b8c-4c35-8157-42a119cdfc60,1,5
0,444621c6-0f42-4de0-bab3-f48694b69dee,1282831d-4c86-46db-92bd-480ec64353f5,1,5
0,6d4f7b3a-0ae3-4b22-af2f-dd04fcefcad3,487d8ad0-0690-487f-9b5c-fe7a6c00ba0e,1,5
1,6d4f7b3a-0ae3-4b22-af2f-dd04fcefcad3,392026e2-4014-44b8-9bc3-10c2d614ed14,2,6

In [26]:
connect_psql(ot_results, "OVERTIME_DETAILS_CURR", 'replace')
connect_psql(ot_xref_results, "OVERTIME_GAME_XREF_CURR", 'replace')